html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.bg {
    height: 100%;
    /* background: url(bg.jpg) no-repeat; */
    background-size: cover;
    background-position: center;
    background-color: white; /* lightsalmon;*/
    font-family: sans-serif; 
    position: relative;
    overflow: auto;
    
} 
.loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 320px;
    height: 430px;
    margin-bottom: 20px;
    padding: 80px 40px;
    box-sizing: border-box;
    /*font-size: 20px;*/
    background: rgba(0, 0, 0, .6);
    color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 1);
} 
.user {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-130px/2);
    left: calc(50% - 130px/2);
}
h2 {
    margin: 0;
    padding: 0 0 20px;
    color: #efed40;
    text-align: center;
}

.loginBox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}
.loginBox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginBox input[type="text"],
.loginBox input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    transition: .5s;
    font-size: 16px;

}

::placeholder {
    color: rgba(225,225,225,0.6);
}

.loginBox input[type="text"]:focus,
.loginBox input[type="password"]:focus {
    border-bottom: 1.2px solid blue;
} 

.loginBox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: red;
    border-radius: 50px;
    transition: .5s;
}

.loginBox input[type="submit"]:hover {
    background-color: #F15025;;
}

.forgot {
    text-decoration: none;
    color: blue;
    transition: .5s;
}

.forgot:hover,
.forgot:active {
    color: yellow;
}

/* @media (max-width: 576px) {
    .bg {background-position: 50%; }
} */

@media (max-height : 480px) {
    .loginBox {
        top: 50px;
        transform: translateX(-50%);
    } 
}
